<!DOCTYPE html>
<html>
<head>
<%= favicon_link_tag 'q-favicon.ico' %>
  <title>Queue It Up!</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class= "container">

		<%= yield %>
	</div>
</body>
</html>
